node_modules
.expo/
.expo-shared/
.git
.gitignore
android/.gradle
android/app/build
android/build
ios/build
android/
ios/Pods
*.log
*.zip
*.tar
*.gz
.expo
*.keystore
*.jks
dist
build
coverage

# environment
.env
.env.local

# system
.DS_Store
Thumbs.db

# editor
.vscode/
.idea/

google-services.json
